// Colors 
// ---------------------------------------------
$green: #c1cc46;
$dark-green: #6a7024; 
$blue: #20567a;
$light-blue: #b3d4fc;
$dark-gray: #333; 
$black: #000; 
$white: #fff; 

// Abstraction 
// ---------------------------------------------
$primary : $green; 
$secondary : $blue; 

// Links 
// ---------------------------------------------
$link: $blue; 
$link-hover: #1D8553; 
$link-visited: #4C2581;

$visit: $link-visited; 
$active: $link-hover;
$hover: $link-hover;

