// sass --watch resume/scss/main.scss:resume/css/main.css 
@import 'normalize';
@import 'mixins';
@import 'variables'; 
@import 'profile'; 

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  width: 90%;
  margin: 20px auto;
  font-family: "Open Sans", sans-serif; 
  font-weight: 300;
  line-height: 1.75;
}

h1,h2,h3,h4,h5,h6 { 
  margin:0 0 20px; 
}

header { 
  border-bottom:1px solid $primary; 
}

.side-bar{ 
  width:100%; 
  background:#eee;
  padding:20px;
  margin:20px 0;
}

.main-content{ 
  width:100%; 
  background:#eee;
  padding:20px;
}